* {
	align-content: center;
	justify-content: center;
	margin: 0 auto;
}
html {
	height: 90%;
}
footer {
	display: block;
	background-color: rgb(255, 226, 172);
	grid-row: 3;
	width: 100%;
	padding: 2% 0;
}

a {
	text-decoration: none;
}
h6 {
	display: flex;
	justify-self: right;
	align-self: right;
	color: rgb(91, 180, 209);
	transition: 500ms;
}
h6:hover {
	color: rgb(79, 156, 182);
}

button {
	border: 2px solid white;
	background-color: transparent;
	border-radius: 50px;
	padding: 15px 30px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	/* font-size: 30px; */
	font-weight: 500;
}
button:hover {
	color: rgb(248, 130, 130);
	border: 2px solid rgb(248, 130, 130);
	transition: 1s;
}

/* Class Specific CSS */

/* Main App.js CSS : Just defines the grid of the website */
.App {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.4fr 1fr .2fr;
}

/* All the main DIVs */
.containers {
	/* Main class for all my components. Aligns things to the center for visual pleasure */
	justify-self: center;
	align-self: center;
	padding: 2% 0;
}

.body-container {
	background-color: rgb(168, 192, 133);
	grid-row: 2;
	/* Make it take the entire width of the page */
	width: 100%;
}

/* Standard stlying for main h1s */
.headings {
	color: rgb(255, 255, 255);
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	margin: 0;
	padding: 0;
	display: flex;
	align-self: center;
	justify-items: center;
}

/* ID Specific CSS */

#footer-heading {
	/* align-items: flex-start; */
	margin-bottom: 1%;
	margin-top: 0;
	color: rgb(255, 255, 255);
}

/* Animations */
