/* Main Classes */

#aboutme-container {
	/* Entire ABOUT ME page container */
	border-left: 2px solid black;

}

.image-container {
	display: flex;
	height: 50px;
	width: 90%;
	padding: 25px;
}

.aboutme-badges {
	height: auto;
	width: fit-content;
	filter: grayscale(1);
	animation-name: fade-in;
	animation-duration: 500ms;
	transition: filter 1000ms ease-in-out;
}

.aboutme-badges:hover {
	filter: grayscale(0);
}

.emphasize {
	color: rgb(248, 103, 103);
}

/* ID/s */

/* Higher Level */


/* Lower Level */

#aboutme-heading {
	margin: 0 0 2% 0;
	font-family: 'Courier New', Courier, monospace;
}
#aboutme-skills, #aboutme-contact {
	margin: 2% 0 1% 0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 28px;
}
#aboutme-paragraph {
	/* Gives a bit of room on sides of the container... Easier to read */
	margin: 0 5%;
    color: rgb(109, 109, 109);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	border-left: 2px solid black;
}
#contact-button {
	display: flex;
}

/* Animations */

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	
}